/* banner section styling  */
.banner-section {
    width: 100%;
    height: auto;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 16px;
    border: 1px solid #EAECF0;
    /* background: url('https://st.depositphotos.com/1049680/2265/i/450/depositphotos_22652109-Young-Woman-Using-Laptop.jpg') no-repeat center/fill; */

    background-image: linear-gradient(270deg, #D62F7F 46.87%, rgba(255, 85, 166, 0.00) 77.6%),
                        url('https://st.depositphotos.com/1049680/2265/i/450/depositphotos_22652109-Young-Woman-Using-Laptop.jpg');
                        background-repeat: no-repeat;
                        
  }

  .banner-section .headings{
    color: white;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 1.5;
margin-bottom: 12px;
  }
  .banner-section .right-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
  }
  

/* stream card styling  */
.title {
  font-size: 24px;
  font-weight: 700;
  margin-right: 30px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflowed text */
  text-overflow: ellipsis; /* Display ellipsis (...) when text overflows */
}


















  @media (max-width: 768px) {
    .banner-section .headings{
        font-size: 22px;
        font-weight: 600;
    }
  }