.title {
    font-size: 24px;
    font-weight: 700;
    margin-right: 30px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflowed text */
    text-overflow: ellipsis; /* Display ellipsis (...) when text overflows */
  }
  .text{
    font-size: 16px;
    font-weight: 600;
  }
  .subheading{
    font-size: 14px;
    font-weight: 500;
  }




  .user-section {
    max-height: 400px;
    position: absolute !important;
    z-index: 99 !important;
    overflow: auto;
    padding: 8px; 
    scrollbar-width: thin;
    width: 100%;
  }


  /* user footer section styling  */
  .user-footer{
    height: auto;
    background-color: white;
    width: 100%;
    padding: 24px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    bottom: 0px;
    z-index: 99999;
  }

  .user-footer input{
    color:rgba(208, 213, 221, 1);
    border: 1px solid rgba(208, 213, 221, 1);
    border-radius: 64px;
    padding: 12px;
    width: 100%;
  }
  .user-footer input:focus{
    outline: lightgray;
    color: black;
  }

/* send bid styling  */

.lower-section{
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 12;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sendBid {
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    z-index:15;
    display: none;
  }
  
  .sendBid input {
    color: white;
    border: 1px solid rgba(208, 213, 221, 1);
    background-color: transparent;
    border-radius: 64px;
    padding: 12px;
    width: 100%;
    position: relative !important;
    z-index: 10 !important; /* Add this line to set a higher z-index */
  }
  .sendBid input:focus{
    outline: none;
  }
  .message{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
  }
  

  

/* Style the content inside the .bidding container */
.bidding {
  overflow-x: scroll; /* Enable horizontal scrolling if needed */
  white-space: nowrap; /* Prevent content from wrapping */
  display: flex;
  align-items: center;
  gap: 12px;
  /* Optionally, you can set a max-width to limit the container's width */
  max-width: 100%; /* Adjust this as needed */
  /* Hide scrollbar and scrollbar track */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide scrollbar and scrollbar track for Webkit browsers */
.bidding::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}


 
  .chat-section{
    max-height:220px;
    overflow-y: scroll;
    /* position: relative; */
    z-index: 9999;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: none;
  }
  .chat-section::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
  
  


.small-screen{
    display:none !important
}
  /* media  break points for streaming small devices  */
  @media (max-width: 900px){
    .sendBid{
        display: flex;
        position: relative;
        z-index: 9999;
    }
     .small-screen{
        display:flex !important;
        position: relative;
        z-index: 99999;
     }
     .large-screen{
        display: none !important;
     }
     .chat-section{
      display: flex !important;
     }
  }
  
 