.shop-section{
    width: 100%;
    padding: 20px;
    padding-left: 0px;
    height: auto;  
    margin-bottom: 65px; 
    position: relative;
}
.shop-banner{
    width: 100%;
}


/* bannenr section styling  */
/* banner section styling  */
.banners {
    width: 100%;
    height: 250px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 16px;
    border: 1px solid #EAECF0;
    overflow: hidden;
    gap: 70px;
    /* background: url('https://st.depositphotos.com/1049680/2265/i/450/depositphotos_22652109-Young-Woman-Using-Laptop.jpg') no-repeat center/fill; */

    background-image:linear-gradient(93.25deg, rgba(214, 47, 127, 0.2) 8.93%, rgba(225, 73, 146, 0.04) 83.15%),
    linear-gradient(0deg, #F2F4F7, #F2F4F7);
   background-repeat: no-repeat;
                        
  }
  .banners .left-section{
    width: 40%;
  }
  .banners img{
    width: 500px;
    height: auto;
    object-fit: cover;
    margin-left: -100px;
  }

  .banners .headings{
    color: rgba(16, 24, 40, 1);
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 1.5;
margin-bottom: 12px;
  }
  .banners .right-section{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
  }


  .videoIcon{
    position: fixed;
    bottom: 70px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 50%;
    background-color: rgba(214, 47, 127, 1);
    cursor: pointer;
    z-index: 9900;
    display: none;
}


  @media (max-width: 900px) {
    .banners{
        height: auto;
    }
    .banners .headings{
            font-size: 18px;
    }
    .videoIcon{
        display: flex;
    }
  }
  